{{define "content"}}
<form class="p-2 pr-10" hx-post="/add-todo" hx-target="#content">
    {{ template "alert" .}}
    <div class="flex flex-col space-y-2">
        <label for="inputField" class="text-sm font-medium text-gray-700">Todo</label>
        <textarea id="inputField" type="text"
            class="px-4 py-2 border border-2 {{$length := len .FormErrors.Todo}}{{if eq $length 0}}border-gray-300{{else}}border-red-500{{end}} rounded-md focus:outline-none focus:border-indigo-500"
            name="value"></textarea>
        <div class="*:text-sm *:text-red-700">
            {{range .FormErrors.Todo}}
            <div>
                {{.}}
            </div>
            {{end}}
        </div>
    </div>
    <div class="flex justify-center gap-2">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Add Todo
        </button>
    </div>
</form>
{{end}}
{{define "alert"}}
{{if ne .ErrorMsg ""}}
<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-3" role="alert">
    <strong class="font-bold">Error!</strong>
    <span class="block sm:inline">{{ .ErrorMsg }}</span>
</div>
{{end}}
{{end}}