{{ define "content" }}
<div class="flex justify-end p-2">
    <div>
        <input hx-get="/archived-todos" hx-target="#todos" class="table-control w-50 px-4 py-2 border border-2 rounded-md focus:outline-none focus:border-indigo-500"
            placeholder="search" name="search" hx-trigger="keyup changed delay:500ms" class="table-control" hx-include=".table-control"/>
    </div>
</div>
{{ template "todos" .}}
<div class="p-2 flex gap-2 items-center">
    {{template "per-page-selector" .}}
    {{template "page-indicator" .}}
</div>

{{ end }}

{{ define "todos" }}
<div id="todos" class="px-4 p-2 divide-y pr-20">
    {{ range .Todos }}
    {{ template "todo-item" .}}
    {{ end}}
</div>
{{ end }}


{{ define "todo-item" }}
<div class="todo-item flex justify-between items-center group">
    <div class="flex gap-2">
        <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-600 rounded focus:ring-blue-500" {{if .DoneAt.Valid }}checked{{end}} disabled>
        <div class="{{if .DoneAt.Valid }}line-through{{end}}">{{ .Value }}</div>
    </div>

    <div class="*:p-1 *:px-2">
        <button class="hover:bg-green-100 text-blue-500 hover:text-green-500 rounded" hx-put="/restore-todo/{{ .Uuid }}" hx-trigger="click" hx-target="closest .todo-item" hx-swap="outerHTML" hx-confirm="Are you sure you want to restore this todo item?">Restore</button>
    </div>
</div>
{{ end }}

{{ define "per-page-selector" }}
<div>
        <select hx-get="/archived-todos" hx-trigger="change" hx-target="#todos" hx-include=".table-control" class="table-control px-4 py-2 border border-2 rounded-md focus:outline-none focus:border-indigo-500" name="per_page">
            <option {{if eq .PerPage 5}}selected{{end}} value="5">5 per page</option>
            <option {{if eq .PerPage 10}}selected{{end}} value="10">10 per page</option>
            <option {{if eq .PerPage 25}}selected{{end}} value="25">25 per page</option>
            <option {{if eq .PerPage 50}}selected{{end}} value="50">50 per page</option>
        </select>
    </div>
{{end}}

{{ define "page-indicator" }}
<div id="page-indicator" {{if .OOBPageIndicator }} hx-swap-oob="true" {{end}}>
        <input hx-get="/archived-todos" hx-trigger="input" hx-target="#todos" hx-include=".table-control" type="number" value="{{.Page}}" class="table-control w-20 px-4 py-2 border border-2 rounded-md focus:outline-none focus:border-indigo-500" min="1" max="{{.PageCount}}" name="page"> Of <span class="font-bold">{{.PageCount}}</span> Pages
    </div>
{{end}}