{{ define "content" }}
<div class="flex justify-end p-2">
    <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        hx-get="/add-todo" hx-trigger="click" hx-target="#content" hx-swap="innerHTML">
        Add Todo
    </button>
</div>
{{ template "todos" .}}
{{ end }}

{{ define "todos" }}
<div id="todos" class="px-4 p-2 divide-y pr-20">
    {{ range .Todos }}
    {{ template "todo-item" .}}
    {{ end}}
</div>
{{ end }}

{{ define "todo-item" }}
<div class="todo-item flex justify-between items-center group">
    <div class="flex gap-2">
        <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-600 rounded focus:ring-blue-500"
            hx-put="/toggle-todo/{{ .Uuid }}" hx-trigger="change" hx-target="closest .todo-item" hx-swap="outerHTML"
            {{if .DoneAt.Valid }}checked{{end}}>
        <div class="{{if .DoneAt.Valid }}line-through{{end}}">{{ .Value }}</div>
    </div>

    <div class="*:p-1 *:px-2">
        <button class="hover:bg-orange-100 text-blue-500 hover:text-orange-500 rounded" hx-get="/edit-todo/{{ .Uuid }}" hx-trigger="click" hx-target="#content" hx-swap="innerHTML">Edit</button>
        <button class="hover:bg-red-100 text-blue-500 hover:text-red-500 rounded">Delete</button>
    </div>
</div>
{{ end }}