{{ define "base" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robust Todo</title>
    <link rel="stylesheet" href="/static/css/tw_output.css">
    <script src="/static/js/htmx.min.js"></script>
</head>

<body>
    <div class="h-screen bg-gray-100 flex flex-col items-center">
        <nav class="p-2 shadow w-full bg-white z-10 flex justify-center">
            <div class="md:w-3/4 flex items-center justify-between">
                <h1 class="text-2xl ">Robust Todo App</h1>
                <div class="flex">
                    <a hx-get="/" hx-target="#content">Todos</a>
                    <a href="#">Archive</a>
                </div>
            </div>
        </nav>
        <div class="h-full w-full md:w-3/4 bg-white" id="content">
            {{ template "alert" .}}
            {{ template "content" .}}
        </div>
    </div>
</body>

</html>
{{ end }}
{{define "alert"}}
<div id="alert" class="p-2 mb-3">
    {{if ne .AlertMsg ""}}
    <div class="{{.AlertClass}} px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">Error!</strong>
        <span class="block sm:inline">{{ .AlertMsg }}</span>
    </div>
    {{end}}
</div>
{{end}}